.detail-info {
  img {
    float: left;
    margin: 22px 20px 0 0;
    max-width: 45px;
  }

  h2 {
    span {
      color: #999;
    }
  }

  p {
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 20px;

    span {
      margin-left: 10px;

      &.rank {
        background: #333;
        color: #fff;
        padding: 2px 4px;
      }

      &.price {
        font-size: 18px;
        font-weight: bold;
      }

      span {
        margin-left: 20px;
      }
    }
  }
}
